[Unit]
Description=hmpg
After=network.target

[Service]
User=www-data
Restart=on-failure
WorkingDirectory=/var/www/hmpg/
ExecStart=/usr/local/bin/gunicorn -c /var/www/hmpg/gunicorn.conf web:app

[Install]
WantedBy=multi-user.target

