@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body { font-family: 'Lato', sans-serif; }
small {	font-size: 35%; }
i { width: 20px; }

.absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.background {
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #464646;
	z-index: 1;
}

.foreground {
	color: white;
	z-index: 2;
}

.foreground section { position: absolute; }

.foreground .top {
	top: 0;
	left: 0;
	right: 0;
}

.foreground .middle {
	display: block;
	width: 100%;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
}

.foreground .lower-middle {
	left: 0;
	top: 70.5%;
	transform: none;
	text-align: center;
}

.foreground .bottom-left {
	bottom: 0;
	left: 0;
}

.foreground .bottom {
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.foreground .bottom-right {
	bottom: 0;
	right: 0;
}

.foreground .quote {
	text-align: center;
}

.foreground .quote-content {
	font-weight: bold;
	margin-bottom: 5px;
}

.foreground .quote-author {
	font-style: italic;
}

.foreground .time {
	font-size: 700%;
	font-weight: 500;
}

.foreground .time #time-ampm {
	margin-left: -25px;
}

.foreground .location {
	margin-left: 15px;
	margin-bottom: 5px;
	cursor: pointer;
}

.foreground .author {
	margin-left: 15px;
	margin-bottom: 15px;
	font-size: small;
	font-style: italic;
	cursor: pointer;
}

.foreground .credit {
	margin-right: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}